@model FoodApp.Areas.Restaurant.Models.Restaurant
@{
    Layout = "_Layout_Admin";
}

<h1>Add Restaurant</h1>

<h4>Restaurant's Name</h4>
<hr/>
<table class="table-dark">
    <div class="row">
        <div class="col-md-4">
            <form id="restaurantForm" asp-area="Restaurant" asp-controller="Restaurant" asp-action="Save" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @* <input type="hidden" id="RestaurantID" name="RestaurantID" value="@Model.RestaurantID" /> *@
                <div class="form-group">
                    <label asp-for="RestaurantName" class="control-label"></label>
                    <input asp-for="RestaurantName" class="form-control" />
                    <span asp-validation-for="RestaurantName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RestaurantAddress" class="control-label"></label>
                    <input asp-for="RestaurantAddress" class="form-control" />
                    <span asp-validation-for="RestaurantAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RestaurantContact" class="control-label"></label>
                    <input asp-for="RestaurantContact" class="form-control" />
                    <span asp-validation-for="RestaurantContact" class="text-danger"></span>
                </div>
                <div class="btn btn-primary">
                    <div class="text-center">
                        <button type="button" id="submitBtn" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</table>
<div class="btn btn-info">
    <a asp-action="Index" style="color: white;">Back to List</a>
</div>

@section scripts {
    <script>
        $(function () {
            $('#submitBtn').on('click', function () {
                var formData = $('#restaurantForm').serialize();
                $.ajax({
                    url: $('#restaurantForm').attr('action'),
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        alert('Restaurant added successfully!');
                        window.location.href = '/Restaurant/Restaurant';
                    },
                    error: function (xhr, status, error) {
                        // Handle error response
                        console.error(xhr.responseText);
                        alert('An error occurred while adding the restaurant.');
                    }
                });
            });
        });
    </script>
}
