@* @model FoodApp.Areas.User.Models.User *@
@* *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_Layout"; *@
@* } *@
@* <section class="section profile"> *@
@*     <div class="container-fluid"> *@
@*         <div class="row"> *@
@*             <!-- Left column --> *@
@*             <div class="col-md-6 pr-md-2 mb-3"> *@
@*                 <div class="card mb-0"> *@
@*                     <div class="card-body pt-3"> *@
@*                         <div class="tab-content pt-200"> *@
@*                             <div class="tab-pane fade show active profile-overview" id="profile-overview"> *@
@*                                 <h5 class="card-title">Users Details</h5> *@
@*                                 <!-- Left column fields --> *@
@*                                 <div class="row"> *@
@*                                     <div class="row"> *@
@*                                         <div class="col-lg-3 col-md-4 label ">User ID</div> *@
@*                                         <div class="col-lg-9 col-md-8"> @Model.UserID</div> *@
@*                                     </div> *@
@*                                     <div class="row"> *@
@*                                         <div class="col-lg-3 col-md-4 label">UserName</div> *@
@*                                         <div class="col-lg-9 col-md-8">@Model.UserName</div> *@
@*                                     </div> *@
@*                                     <div class="row"> *@
@*                                         <div class="col-lg-3 col-md-4 label">UserEmail</div> *@
@*                                         <div class="col-lg-9 col-md-8">@Model.UserEmail</div> *@
@*                                     </div> *@
@*                                     <div class="row"> *@
@*                                         <div class="col-lg-3 col-md-4 label">UserPassword </div> *@
@*                                         <div class="col-lg-9 col-md-8">@Model.UserPassword</div> *@
@*                                     </div> *@
@* *@
@*                                 </div> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@* *@
@* *@
@*         </div> *@
@*     </div> *@
@* </section> *@
