@{
    Layout = "_Layout_Login";
}
@using FoodApp.Areas.User.Models;
@using FoodApp.Views.Shared
@model FoodApp.Areas.Auth.Models.SignIn;
<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                <div class="card mb-3">

                    <div class="card-body">

                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                            @if (TempData["Error"] != null)
                            {
                                <div class="text-danger">@Html.Raw(TempData["Error"]) </div>
                            }
                            <p class="text-center small">Enter your UserEmail & password to login</p>
                        </div>

                        <form class="row g-3 needs-validation" asp-area="Auth" asp-action="Login" asp-controller="Auth">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="col-12">
                                <label for="yourName" class="form-label">Email</label>
                                <input type="text" class="form-control" id="yourName" asp-for="Email" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                       
                            </div>
                            <div class="col-12">
                                <label for="yourPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" id="yourPassword" asp-for="Password" required>
                                <span asp-validation-for="Password" class="text-danger"></span>
                               
                            </div>


                            @* <div class="col-12"> *@
                            @*     <button class="btn btn-primary w-100" type="submit">Login</button> *@
                            @* </div> *@
                             <div class="col-12">
                                 <button class="btn btn-primary w-100" type="submit">Login</button>
                                 </div>
                            <div class="col-12">
                                <a class="btn btn-primary w-100" asp-area="Auth" asp-controller="Auth" asp-action="UserRegister">Register</a>
                            </div>
                        
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}